@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: "Roboto";
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


:root {
    --pink-200: #d17bcd;
    --pink-500: #c8367f;
    --pink-800: #881f4b;

    --black-800: #171717;

    --blue-200: #9ac7c1;
    --blue-400: #3c807c;

    --white: #F9F9F9;
}


body {
    background: var(--blue-400);
    background-image: url('../img/image.png');
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--white);
    font-family: "Roboto", sans-serif;
}


/* Conf. títulos e paragrafos */
/* h1 {
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    padding: 1rem;
    color: var(--black-800);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}

h3 {
    padding: 1rem;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    padding: 0.5rem 0;
} */

/* Flexbox */
/* 
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_start {
    display: flex;
    justify-content: flex-start;
} */

/* Header */
#header_content {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    margin: 16px 0;
    font-weight: 700;
}

#menu ul {
    display: flex;
    gap: 1rem;
}

#menu ul a {
    text-decoration: none;
    color: var(--white);
}

#menu ul a:hover {
    color: var(--pink-200);
}

/*About */

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobre h2 {
    font-size: 2rem;
    font-weight: 600;
    font-family: monospace;
    color: var(--pink-200);
}

#conteudo {
    width: 75vw;
    display: flex;
    gap: 0.75rem;
    align-items: center;

}

.img_profile {
    width: 200px;
    border-radius: 25%;
    border: 5px solid var(--blue-200);
    padding: 0.75rem;
}

#conteudo #sobre_texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 600;
}


/* Video */

#video {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: monospace;
    color: var(--pink-200);
}

#youtube {
    width: 60vw;
}

#youtube .youtube-video {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 2rem;
    border: 3px solid var(--blue-200);
    padding: 8px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

footer #redes_sociais img {
    height: 36px;
    filter: brightness(0) saturate(100%) invert(78%) sepia(45%) saturate(233%) hue-rotate(124deg) brightness(86%) contrast(94%);
}

footer #redes_sociais img:hover {
    filter: brightness(0) saturate(100%) invert(66%) sepia(15%) saturate(1119%) hue-rotate(331deg) brightness(96%) contrast(94%);
}

footer h3 {
    color: var(--blue-200);
    font-weight: 700;
    font-size: 1.275rem;
    margin-bottom: 1rem;
}

/*Página de Contato*/

#contato {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    min-height: 80vh;
    align-items: center;
    gap: 6rem;
}

#formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

}

.campo_form {
    display: flex;
    flex-direction: column;
}

.campo_form label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.campo_form input, textarea {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    font-size: 1.25rem;
    color: var(--blue-400);
    resize: none;
}


#formulario button {
    margin: 0 auto;
    width: 33%;
    font-size: 1.5rem;
    border: none;
    background-color: var(--blue-200);
    color: var(--pink-200);
    border-radius: 16px;
    cursor: pointer;
    padding: .75rem;
}

#formulario button:hover {
    background: var(--pink-500);
}

/* Mapa */
#mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--pink-200);
    font-weight: 700;
    font-size: 1.275rem;
}

#endereco>p {
    font-size: 1rem;
    text-align: justify;
    font-weight: 600;
}

/*  a partir daqui, é responsividade */
/* modelo Desktop First, quando a tela for menor de 1000px, respeitar as regras aqui abaixo */
@media (max-width: 1000px) {
    #header_content {
        font-size: 1rem;
    }

    #conteudo {
        flex-direction: column;
    }

    #conteudo img {
        border-radius: 32px;
        border: 2px solid var(--light-green);
        width: 75vw;
    }

    #youtube {
        width: 85vw;
    }

    #youtube .youtube-video {
        padding: 0;
        border: 0;
    }

    footer {
        width: 85vw;
        margin: 0 auto;
        font-size: 14px;
    }

    footer h3 {
        text-align: center;
    }

    #contact {
        flex-direction: column;
    }

    /* fazer o mapa sumir */
    #mapa {
        display: none;
    }
}